.card {
  position: relative;
  display: flex;
  align-items: center;
}

.drag_icon {
  width: 32px;
}

.constructor_element {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 32px;
  padding-left: 24px;
}

.card_dragging {
  cursor: grabbing;
  opacity: 0.5;
}

.card_hover {
  box-shadow: 0 4px 12px rgb(0 0 0 / 50%);
}
